.name{
 margin: 0px;
 text-align: center;
}
.center{
 text-align: center;
}
.title_name{
 font-weight: bolder;
 font-size: 25px;
 margin: 0px;
}
.history_name{
 margin: 0px;
}
.job{
 font-size: 20px;
 margin: auto;
}
.job_title{
 font-size: 17px;
 margin: 0px;
}
.education{
 margin: 0px
}